body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(135deg, #885fd5, #f074c5);
  font-family: 'Arial', sans-serif;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-box {
  background: rgba(0, 0, 0, 0.2); 
  padding: 40px;
  border-radius: 18px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  color: white;
  text-align: center;
  width:400px;
  backdrop-filter: blur(25px); 
  border: 1px solid rgba(255, 255, 255, 0.2); 
}

h2 {
  margin-bottom: 20px;
}

.content-container {
  width: 100%; 
}
.input-container {
  margin-bottom: 20px;
  width: 100%;
}

.input-container label {
  display: block;
  margin-bottom: 8px;
  text-align: left;
}

.input-container input {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  box-sizing: border-box; 
}

.login-btn {
  background-color: #6f42c1;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.3s;
}

.login-btn:hover {
  background-color: #563d7c;
}

.register-link {
  margin-top: 20px;
}

.register-link a {
  color: #e275bc;
  text-decoration: none;
}
